body{
    background-color: #232323;
    margin:0;
    font-family: "Montserrat","Avenir";
}

.square{
    width:30%;
    background:purple;
    padding-bottom:30%;
    float:left;
    margin: 1.66%; 
    border-radius: 15%;
    transition: background 0.6s;
    -webkit-transiton:background 0.6s;
    -moz-transiton:background 0.6s;
}

#container{
    margin:10px auto;
    max-width:600px;
}

h1{
    color:white;
    text-align: center;
    line-height: 1.1;
    background: steelblue;
    margin:0;
    font-weight: normal;
    text-transform: uppercase;
    padding: 20px 0;
}

#stripe{
    background:white;
    height:30px;
    text-align: center;
}
.selected{
    color:white;
    background: steelblue;
}
#color{
    font-size: 200%;
}
button{
    outline:none;
    border:none;
    background: none;
    text-transform:uppercase;
    font-weight: 700;
    height: 100%;
    color:steelblue;
    letter-spacing: 1px;
    font-size:inherit;
    transition:all 0.3s;
    -webkit-transiton:all 0.3s;
    -moz-transiton:all 0.3s;
}
#messg{
    display:inline-block;
    width:20%;
}
button:hover{
    color:white;
    background: steelblue;
}